<div class="col-sm-12 p-2">
  <div class="card">
    <div class="card-body bg-light"
         *ngIf="episode;else loading"
    >
      <p [ngbPopover]="moreInfo"
         triggers="mouseenter:mouseleave"
         [popoverTitle]="'Some more information about the episode'"
         [placement]="'[top,auto]'"
      >{{episode?.name}}</p>
    </div>
  </div>
</div>
<ng-template #moreInfo>
  <p> Episode {{episode?.episode}}</p>
  <p> Created at{{episode?.created | date}}</p>
  <p> Air date{{episode?.air_date}}</p>
  <p> Number of characters{{episode?.characters?.length}}</p>
</ng-template>

<ng-template #loading>
  <ngx-skeleton-loader
    count="1"
    [theme]="{ 'border-radius': '0', height: '50px' }"
    appearance="circle"
  ></ngx-skeleton-loader>
</ng-template>

